<div class="row">
    <app-shoping-edit
     (addNewingridEvent)="onAddingri($event)">
    </app-shoping-edit>
    <hr>
    <ul class="list-group">
        <a (click)="onEditItem(i)" 
        class="list-group-item" 
        style="cursor: pointer;" 
        *ngFor="let ingredient of ingridientlist;
         let i = index">
        {{ingredient.name}} ({{ingredient.amount}})
        </a>
    </ul>
    <div class="row" >
    <button mat-raised-button color="primary" (click)="onSaveingri()" style="margin: 10px;">
        Save Ingridient list
    </button>
    <button mat-raised-button color="success" (click)="onFetchIngri()" style="margin: 10px;">
        Fetch Ingridient list
    </button>
</div>
</div>