<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Recipe Name: {{recipeDetails.name}}</mat-card-title>
      <mat-card-subtitle>description of the recipe:{{recipeDetails.description}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="recipeDetails.imagePath" alt="Photo of RECIPE" style="max-height: 100px;">
    <mat-card-content *ngFor="let ingredient of recipeDetails.ingridients">
      {{ingredient.name}}-{{ingredient.amount}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [matMenuTriggerFor]="menu">Mange Recipe</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onAddIngridents(recipeDetails)">To Shoping List</button>
          <button mat-menu-item>Edit Recipe</button>
          <button mat-menu-item>Delete Recipe</button>
        </mat-menu>
    </mat-card-actions>
  </mat-card>
  