/* app.component.css */
body {
    
    background-image: url('../assets/spiced-lamb-and-dill-yogurt-pasta-recipe-BA-082520.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }
  