.wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

}

.top, .bottom {
  position: relative;
  z-index: 1;
  height: 50vh;
}

.button {
  align-self: center;
  background: #222;
  color: #fff;
  padding: 15px 30px;
  cursor: pointer;
  z-index: 2;
  margin: -24px 0;
}

.up {
  transform: translateY(-100%);
  transition: transform 300ms ease 300ms;
}

.left {
  transform: translateX(-100%);
}

.down {
  transform: translateY(100%);
  transition: transform 300ms ease 300ms;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}